body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.break{
  flex-basis: 100%;
  height: 0px;
}

.h-95M {
height: 95vh;
}

.h-90M {
  height: 90vh;
  }

.h-5M {
  height: 5vh;
  }

.h-50M {
  height: 50vh;
}

.h-31M {
  height: 31vh;
}

.h-63M {
  height: 63vh;
}

.w-15M{
  width: 15%;
}

.w-70M{
  width: 70%;
}

.w-90M{
  width: 85%;
}
/* @media screen and (max-width:1024px)
{
  .w-15M{
    width: 10%;
  }
}

@media screen and (max-width:768px)
{
  .w-15M{
    width: 10%;
  }
} */


.sidebar-align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.center {
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  font-size: 20px;
}
div.loader {
  font-size: 100px;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.react-datepicker__input-container > input {
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #49c5b6;
}

.react-datepicker__input-container {
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #49c5b6;
}

.ibring_green{
  background-color: #49c5b6;
}